<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Element119_IpBanList::menu"
             title="IP Ban List"
             action="admin/system_config/edit/section/ip_ban_list"
             sortOrder="9500"
             module="Element119_IpBanList"
             resource="Element119_IpBanList::menu"
             parent="Element119_Core::menu" />
    </menu>
</config>
